//colors

$dimgray-color   : #435466;
$dark-grey-color : #e1e4e6;
$light-grey-color: #f3f3f3;
$orange-color    : #ff9a2a;
$green-color     : #7fbc39;
$light-cyan-color:#00b4cf;
$dark-cyan-color :#01869a;
$slategray-color :#2d4054;

//screen size
$desktop-HD-size: 1200px;
$desktop-size: 1024px;
$tablet-size: 768px;

//
$navbar-width: 300px;
$header-height: 60px;